<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jagdiv.android.gogleapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyPdfViewActivity"
            android:label="@string/title_activity_my_pdf_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarView"
            android:label="@string/title_activity_calendarview"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".BaseActivity" />
        <activity
            android:name=".PDFActivity"
            android:label="@string/title_activity_news_letter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormsActivity"
            android:label="@string/title_activity_Forms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactFormActivity" />
        <activity android:name=".PushGDActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity android:name=".GoogleLoginActivity"></activity>

        
    </application>

</manifest>